/**
 * Basic typography style for copy text
 */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $grey;
  font-size: $regular-font-size;
  line-height: $regular-line-height;
  font-family: $default-font-stack;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}
